/*  autumn color */
/* 
body,
.cardBox .card .face.face2 { background-color: #2b1d14; }
.cardBox .card .face.face1 { background: #2b1d14; }
.en { color:#c29574}
.ex { color:#baa68e}
.price { color:#B29079}
.title { background: url('./img/background/autumn.jpg'); color: white; }
#campWe  { width: 100%; height: 2.2rem; margin: 1.6rem 0; }
#campWe span { color:#da8825;  }
.atseo  { color: #b7957f !important; font-size: 1.4rem;}
.cafeLatte .saucer {background-color:#6b0303;}
.cafeLatte .cup_handle {  border : 2px solid #6b0303; }
.cafeLatte .cup_handle {  border : 2px solid #636802; }
.saucer { background-color:#636802;} 
*/

/* Hallowen Color */
 /* 
 body,
.cardBox .card .face.face2 { 
  background-color: #46374b; color: white; }
.cardBox .card .face.face1 { background: #46374b; }
.ex { color: #ff7f42}
.cardBox .card .face .face1 .ko,
.ko { color:#85e21f ; }
.en { color:#87ba41;  font-family: "Eater", serif; font-weight: 400; font-style: normal; }
.price { color:#c0d95f}
#campWe span { color:#da8825;  }
.atseo  { color: #b7957f !important; font-size: 1.4rem;}
.title { background: url('./img/background/ha.jpg'); color: white; } 
*/

/* Xmas Color */
 /* 
 body,
.cardBox .card .face.face2 { 
  background-color: #6b0303; color: white; }
.cardBox .card .face.face1 { background: #6b0303; }
.ex { color: #678D55}
.ex { color:#9ab286}
.cardBox .card .face .face1 .ko,
.ko { color:#85e21f ; }
.en { color:#678D55;  font-family: "Eater", serif; font-weight: 400; font-style: normal; }
.price { color:#ffcbd1}
#campWe span { color:#ff2c2c;  }
.atseo  { color: #f0ede8 !important; font-size: 1.4rem;}
.title { background: url('./img/background/d_xmas.jpg'); color: white; } 
*/
/* new year Color */
/* 
  body,
  .cardBox .card .face.face2 { 
    background-color: #1F5DA0; color: white; 
  }
  .cardBox .card .face.face1 {
    background: #1F5DA0;}
  .en { color:#8DBB3E}
  .ex { color:#E6B422}
  .price { color:#FFFFFF}

  .title { background: url('./img/background/new.jpg'); color: white; }
  #campWe  { width: 100%; height: 2.2rem; margin: 1.6rem 0; }
  #campWe span { color:#E6B422;  }
  .atseo  { color: #8DBB3E !important; font-size: 1.4rem;} 
*/