/*  autumn color */
/* body,
.cardBox .card .face.face2 { background-color: #2b1d14; }
.cardBox .card .face.face1 { background: #2b1d14; }
.en { color:#c29574}
.ex { color:#baa68e}
.price { color:#B29079}
.title { background: url('./img/background/autumn.jpg'); color: white; }
#campWe  { width: 100%; height: 2.2rem; margin: 1.6rem 0; }
#campWe span { color:#da8825;  }
.atseo  { color: #b7957f !important; font-size: 1.4rem;}
.cafeLatte .saucer {background-color:#6b0303;}
.cafeLatte .cup_handle {  border : 2px solid #6b0303; }
.cafeLatte .cup_handle {  border : 2px solid #636802; }
.saucer { background-color:#636802;} */