@media screen and (min-width : 1200px)  { 
    .mainBox { 
        width: 89vw;  height: 87.2vh;  
        display: flex;  justify-content: space-between;
        position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
        border: 0.3rem solid red;
   
    }
    .grid { display: flex;  justify-content: space-between; flex-direction: column; }
    .grid:first-child { width: 25vw;  height:inherit;      }
    .grid:nth-child(2) { width: 32vw;  height:inherit; }
    .grid:last-child { width: 31vw;  height:inherit;  }

    .grid:first-child  #eso,
    .grid:first-child  #coldBrew,
    .grid:nth-child(2)  #fruit .fruitTea, 
    .grid:nth-child(2)  #fruit .line{ display: flex;  justify-content: space-between;  border: 0.3rem solid gray;}
    
    
    /* first grid */
    .grid:first-child .blenging { 
        width: 29% ;  
        display: flex;  justify-content: space-around; flex-direction: column;
        text-align: right;
    }
    .grid:first-child .esoBox { width: 66% ;}

    /* second grid */
    #fruit .border > div:first-child .ko  div {  margin-top: 0.6rem; }
    #fruit .line > div:first-child { display: flex; }
    #fruit .fruitTea  > div:last-child { width: 55% ;  }
    #fruit .fruitTea > div:first-child .en::before { content: "";}
    #fruit .point { 
        border-radius: 50%; padding: 0.4rem; width: 1.5rem; height: 1.5rem;
    }
    #fruit .swiper { margin-top: 1rem; }
    #fruit .swiper .border { 
        padding: 1.43rem 0;
        text-align: center;
    } 
    #fruit .swiper .border .ko { margin: 0.4rem 0 ;}

    #season .noBorder .line { display: flex; }
    #season .shavedIce { display: flex;  justify-content: space-between; } 
    #season .shavedIce .border,
    #season .shavedIce .img::before { 
        border-radius: 4rem;
        width: 30%;
        height: 9.5vh; 
        text-align: center;
    }

    #milk .milk > div,
    #milk .milk .border .line { display: flex; justify-content: space-between;}

    /* last grid */
    #yogurt  .noBorder > div, 
    #yogurt  .noBorder > div, 
    #yogurt .leftBox .border, 
    #yogurt .rightBox > div:nth-child(even), 
    #yogurt .greekBox { display: flex; justify-content: space-between; }
    #yogurt .leftBox { width: 35%; }
    #yogurt .leftBox { width: 50%; } 
    #yogurt .rightBox { width: 48%; }
    #yogurt .rightBox .border, 
    #yogurt .rightBox .img::before { border-radius: 50%; }
    #yogurt .rightBox .border {  width: 5.1vw;  height: 16vh;  } 
    
    #meal .mealBox > div { display: flex; justify-content: space-between; }

    #flower .tea { display: flex; justify-content: space-between; }

 } 

 @media screen and  (max-width : 479px){
    html { font-size: 62.5%; }
    .mainBox { 
        width: 75vw;
        margin: 0 auto;
        background-color: palevioletred;
    }

 }    
/* mobile */
/* @media screen and  (max-width : 479px){
    .mobile { 
        background-color: palevioletred;
    } 
    .nav { display: none;}
} */
/* mobile 가로 */
/* @media screen and (min-width : 480px) and (max-width : 767px){
    .mobile { 
        background-color: skyblue;
    } 
    .nav { display: none;}
} */
/* 테블렛  */
/* @media screen and (min-width : 768px) and (max-width : 1023px){
    .mobile { 
        background-color: rebeccapurple;
    } 
    .content { display: none;}
} */
/* pc  */
/* @media screen and (min-width : 1024px) {
    .mobile { 
        background-color: greenyellow;
    } 
    .content { display: none;}

} */

