 /* price */
.price0::before { content: '•'; }
.price30::before { content: '3.0'; }
.price65::before { content: '6.5';}
.price70::before { content: '7.0';}
.price75::before { content: '7.5'; }
.price80::before { content: '8.0'; }
.price85::before { content: '8.5'; }
.price90::before { content: '9.0'; }
.price95::before { content: '9.5'; }
.price100::before { content: '10.0'; }
.price110::before { content: '11.0'; }
.price120::before { content: '12.0';} 
.price130::before { content: '13.0';} 
.price150::before { content: '15.0';} 
.price170::before { content: '17.0';} 
.price180::before { content: '18.0';} 
.price190::before { content: '19.0';} 
.price200::before { content: '20.0';} 
.price210::before { content: '21.0';} 
.price230::before { content: '23.0';} 
.price235::before { content: '23.5';} 
.price245::before { content: '24.5';} 
.price260::before { content: '26.0';} 
.price280::before { content: '28.0';} 
.price285::before { content: '28.5';} 
.price250::before { content: '25.0';} 
.price300::before { content: '30.0';} 
.price350::before { content: '35.0';} 
.price400::before { content: '40.0';} 
.price500::before { content: '50.0';} 
.price600::before { content: '60.0';} 
.price600::before { content: '60.0';} 
.price700::before { content: '70.0';} 
.price800::before { content: '80.0';} 
.price1000::before { content: '100.0';} 
.price1100::before { content: '110.0';} 
.price1200::before { content: '120.0';} 