.disJcCol {
    display: flex;  justify-content: space-between; flex-direction: column;
}
.disJcBet {
    display: flex;  justify-content: space-between;
}
/* .disJcAro {
    display: flex;  justify-content:space-around;
} */
.disCen { 
    display: flex;  justify-content: center; align-items: center;
}
.posiCen {
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}
.dis {  display: flex; }
.disRight { display: flex; justify-content: right;}
.posNa { position: relative;}
.none { display: none;}

/* 글자 정렬 */
.tc { text-align: center;}
.tl { text-align: left;}
.tr { text-align: right;}

/* .lineH { line-height: 20px;} */
.line { 
    padding: 0.4rem 0; height: 1.5rem; line-height: 1.5rem; 
}
.lineKo { padding: 0.35rem 0; }
.linePrice { margin-top: 0.4rem; }

.border {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 0.6rem 1.56rem 1rem 1.56rem;
    /* padding: 10px 25px; */
    margin-bottom: 1.25rem;
    
}
.border2  .border { width: 4%; }
.border3  .border { width: 25%; }

.noBorder { padding: 0 1.563rem; }
.noBorder .en::before { content: "" }

.pointBox {
     height: 2.3rem; line-height: 2.3rem;
}
.pointBox .point { 
    border-radius: 50%;  
    text-align: center; 
    width: 2.4rem; height: inherit;
    color: white;
    margin-right: 0.3rem;
}   

/* img */
.img {
    width: 100%;
    object-fit: cover;
    position: relative;
}
.img::before {
    /* width: 100%; */
    content: "";
    opacity: 0.3;
    position: a;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000;
}
.img .enColor,
.img .koColor,
.img .priceColor {
    color:  white;
    position: relative;
}

/* title effective */
.title {
    margin-bottom: 1.25rem; 
    font-family: Poppins-Regular;
    font-size: 1.18rem;
    display: block;
    height: 1.25rem;
    line-height: 1.25rem;
    position: relative;
    border-radius: 0.3rem;
    background-size: cover;
    padding: 0.5rem 0.625rem;
    box-shadow: 0.063rem 0.188rem 0.063rem -0.188rem #777;
    transition: background 450ms ease-in-out;
  }
  .shadow {
    position: relative;
  }
  .shadow:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 13px;
    right: 7px;
    width: 25%;
    top: 0;
    box-shadow: 0 15px 10px #777;
    transform: rotate(4deg);
    transition: all 150ms ease-in-out;
  }

 /* price */
.price0::before { content: '•'; }
.price30::before { content: '3.0'; }
.price65::before { content: '6.5';}
.price70::before { content: '7.0';}
.price75::before { content: '7.5'; }
.price80::before { content: '8.0'; }
.price85::before { content: '8.5'; }
.price90::before { content: '9.0'; }
.price95::before { content: '9.5'; }
.price100::before { content: '10.0'; }
.price110::before { content: '11.0'; }
.price120::before { content: '12.0';} 
.price130::before { content: '13.0';} 
.price150::before { content: '15.0';} 
.price170::before { content: '17.0';} 
.price180::before { content: '18.0';} 
.price190::before { content: '19.0';} 
.price200::before { content: '20.0';} 
.price230::before { content: '23.0';} 
.price260::before { content: '26.0';} 
.price280::before { content: '28.0';} 

/* margin & padding */
.mt4 { margin-top: 0.4rem; }
.mt6 { margin-top: 0.6rem; }
