.apple{
    background: url('../img/icon/apple.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.cinnamon {
    background: url('../img/icon/cinnamon.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.tomato1 {
    background: url('../img/icon/tomato1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.tomato2 {
    background: url('../img/icon/tomato2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.grape {
    background: url('../img/icon/grape.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.orange {
    background: url('../img/icon/orange.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pineapple {
    background: url('../img/icon/pineapple.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pineapple {
    background: url('../img/icon/pineapple.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pear {
    background: url('../img/icon/pear.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.beet {
    background: url('../img/icon/beet.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.kiwi {
    background: url('../img/icon/kiwi.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.banana {
    background: url('../img/icon/banana.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.grapefruit {
    background: url('../img/icon/grapefruit.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.watermelon {
    background: url('../img/icon/watermelon.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.aoriApple {
    background: url('../img/icon/aoriApple.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.blueberry { 
    background: url('../img/icon/blueberries.png'); 
    background-size: 100% 100%;
    width: 1.6vw;
    height: 3.3vh;
    position: absolute;
    bottom: 1.1vh;
    left: 4.9rem;
    opacity: 0.8;
}
.strawberry { 
    background: url('../img/icon/strawberry1.png'); 
    background-size: 100% 100%;
    width: 1.7vw;
    height: 3.1vh;
    position: absolute;
    bottom: 1.1vh;
    left: 2rem;
    opacity: 0.6;
}
.omija {
    background: url('../img/icon/omija.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 1.7vw;
    height: 4vh;
    position: absolute;
    bottom: 1.1vh;
    left: 7.9rem;
    opacity: 0.9;
    transform: rotateY( 180deg);
}
.lemon {
    background: url('../img/icon/lemon.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 1.5vw;
    height: 2.9vh;
    position: absolute;
    top: 7.5vh;
    left: 24%;
    /* bottom: -8vh;
    right:  -45%; */
    opacity: 0.9;
}
.vanilla {
    background: url('../img/icon/vanilla.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 1.9vw;
    height: 3.9vh;
    position: absolute;
    top: 4.8vh;
    right: 2rem;
    /* bottom: -8vh;
    right:  -45%; */
    opacity: 0.9;
}
.all {
    background: url('../img/icon/all.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 1.7vw;
    height: 3.8vh;
    position: absolute;
    bottom: 1vh;
    right:  -70%;
    opacity: 0.9;
}
.yogurt {
    background: url('../img/photo/yogurtBowl.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.greekYogurt {
    background: url('../img/photo/greekBowl.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.bbq215 {
    background: url('../img/photo/bbq215.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.pollack {
    background: url('../img/photo/pollack.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.potato {
    background: url('../img/photo/potato.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.stone {
    background: url('../img/photo/stone.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.fishBall {
    background: url('../img/photo/fishBall.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.pork {
    background: url('../img/icon/pork.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.meat {
    background: url('../img/icon/meat.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.rib {
    background: url('../img/icon/ribs.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pig_w {
    background: url('../img/icon/pig_w.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.ribs_w {
    background: url('../img/icon/ribs_w.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.meat_w {
    background: url('../img/icon/meat_w.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pork_w {
    background: url('../img/icon/pork_w.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.no4 {
    background: url('../img/photo/no4.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}