@media screen and (min-width : 1381px)  { 
    .mainBox { 
        width: 88.2vw;  height: 84.2vh;  
        display: flex;  justify-content: space-between;
        /* background-color: red; */
    }
    .grid:first-child { width: 31%;  height:inherit;  }
    .grid:nth-child(2) { width: 33%;  height:inherit; }
    .grid:last-child { width: 33%;  height:inherit;  }
    /* .grid { width: 32%;  height:inherit;  } */
 } 
 @media screen and (min-width : 1200px ) and (max-width : 1380px) { 
    .mainBox { 
        width: 85.2vw;  height: 80vh;  
        display: flex;  justify-content: space-between;
        /* background-color: aquamarine; */
    }
    /* .grid:first-child { width: 31%;  height:inherit;  }
    .grid:nth-child(2) { width: 33%;  height:inherit; }
    .grid:last-child { width: 33%;  height:inherit;  } */
    /* .grid { width: 32%;  height:inherit;  } */
 } 
@media screen and (max-width : 1199px) {
    html { font-size: 62.5%; }
    .mainBox { 
        width: 98vw; border: 0.2rem red solid;
    } 

}
